<a href="https://colab.research.google.com/github/c2rl2/DataSETS/blob/master/servidores%20ativos%20da%20UFSCAR%2026/02/2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

DadosUfscar = pd.read_csv('/content/servidores_ativos_022023 ufscar.csv', sep=',', encoding='ISO-8859-1')

In [8]:
DadosUfscar.describe()

,nome,cargo,unidade,data_ingresso
count,2243,2243,2243,2243
unique,2241,3,307,1386
top,Mariana de Almeida Prado Faga,Professor do Ensino Superior,Departamento de Medicina,2009-02-02
freq,2,1280,83,30

In [14]:
DadosUfscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           2243 non-null   object
 1   cargo          2243 non-null   object
 2   unidade        2243 non-null   object
 3   data_ingresso  2243 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 70.2+ KB

In [13]:
DadosUfscar['data_ingresso'] = pd.to_datetime(DadosUfscar['data_ingresso'])

**Agrupamento de servidores por ano.:**

In [82]:
count2 = DadosUfscar.groupby(['cargo','data_ingresso']).size()
print(count2)

cargo                        data_ingresso
Professor do Ensino BÃ¡sico  2004-09-01       1
                             2005-08-24       2
                             2014-07-30       1
                             2014-08-01       1
                             2014-08-08       1
                                             ..
TÃ©cnico-Administrativo      2022-11-10       2
                             2022-11-11       1
                             2022-12-13       1
                             2023-02-01       1
                             2023-02-03       1
Length: 1537, dtype: int64

In [113]:
Servidores_ano = DadosUfscar.groupby(DadosUfscar['data_ingresso'].dt.year)['cargo'].sum()
Servidores_ano

data_ingresso
1973                         Professor do Ensino Superior
1974                         Professor do Ensino Superior
1975    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1976    Professor do Ensino SuperiorTÃ©cnico-Administr...
1977    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1978    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1979    Professor do Ensino SuperiorTÃ©cnico-Administr...
1980    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1982    Professor do Ensino SuperiorProfessor do Ensin...
1983    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
1985    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
1986    Professor do Ensino SuperiorProfessor do Ensin...
1987    Professor do Ensino SuperiorProfessor do Ensin...
1988    Professor do Ensino SuperiorTÃ©cnico-Administr...
1989    Professor do Ensino SuperiorProfessor do Ensin...
1990                              TÃ©cnico-Administrativo
1991    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1992    Professor do Ensino SuperiorTÃ©cnico-Administr...
1993    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1994    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1995    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
1996    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
1997    Professor do Ensino SuperiorProfessor do Ensin...
1998    Professor do Ensino SuperiorProfessor do Ensin...
2001    Professor do Ensino SuperiorProfessor do Ensin...
2002    Professor do Ensino SuperiorProfessor do Ensin...
2003    Professor do Ensino SuperiorProfessor do Ensin...
2004    Professor do Ensino SuperiorProfessor do Ensin...
2005    Professor do Ensino BÃ¡sicoProfessor do Ensino...
2006    Professor do Ensino SuperiorProfessor do Ensin...
2007    Professor do Ensino SuperiorTÃ©cnico-Administr...
2008    Professor do Ensino SuperiorProfessor do Ensin...
2009    TÃ©cnico-AdministrativoTÃ©cnico-Administrativo...
2010    Professor do Ensino SuperiorTÃ©cnico-Administr...
2011    Professor do Ensino SuperiorTÃ©cnico-Administr...
2012    Professor do Ensino SuperiorProfessor do Ensin...
2013    Professor do Ensino SuperiorProfessor do Ensin...
2014    Professor do Ensino SuperiorProfessor do Ensin...
2015    Professor do Ensino SuperiorProfessor do Ensin...
2016    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
2017    Professor do Ensino SuperiorTÃ©cnico-Administr...
2018    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
2019    Professor do Ensino SuperiorTÃ©cnico-Administr...
2020    Professor do Ensino SuperiorProfessor do Ensin...
2021    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
2022    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
2023    TÃ©cnico-AdministrativoProfessor do Ensino Sup...
Name: cargo, dtype: object

In [114]:
QuantProfessor = DadosUfscar['cargo'] == 'Professor do Ensino Superior'

In [115]:
QuantProfessor.describe()

count     2243
unique       2
top       True
freq      1280
Name: cargo, dtype: object

In [116]:
count = DadosUfscar['cargo'].value_counts()
print(count)

Professor do Ensino Superior    1280
TÃ©cnico-Administrativo          950
Professor do Ensino BÃ¡sico       13
Name: cargo, dtype: int64